<div class="header">
  <img src="/assets/img/kaspiLogo.png" height="70px" width="70px">
  <h1>Kaspi kz</h1>

  <div class="categories">
    <div class="all" (click) = "selectCategory('All')">All</div>
    <div class="technics" (click)="selectCategory('Technics')">Technics</div>
    <div class="clothes" (click)="selectCategory('Clothes')">Clothes</div>
    <div class="phones" (click)="selectCategory('Phones')">Phones</div>
    <div class="sport" (click)="selectCategory('Sport')">Sport</div>
    <div class="basket"> Basket<span> {{ totalBasket }}   </span></div>
  </div>
</div>

<div *ngFor="let product of filteredProducts">
  <app-product
    [id] = "product.id"
    [image]="product.image"
    [name]="product.name"
    [description]="product.description"
    [price]="product.price"
    [link]="product.link"
    [rating]="product.rating"
    [commentsNumber]="product.commentsNumber"
    [commentsLink]="product.commentsLink"
    (productAdded)="addToBasket($event)"
    (productRemoved)="dropToBasket($event)">
  </app-product>
</div>

